* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
nav{
    width: 84%;
    max-width: 1347px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ul li{
    list-style: none;
    display: inline-block;
    display: inline;
    padding-left: 20px;

} */

nav h2{
  font-size: 45px;
  font-weight: bolder;
}
.logo-r{
  color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 62px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.btn{
  background-color:#FD6E0A;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor:pointer;
}

#banner{
  /* border: 2px solid blue; */
  margin: 47px 38px 0px 170px ;
  display: flex;
  align-items: center;
}
.banner-content h2{
  font-size: 45px;
  font-weight: 700;
  color: #474747;
}

.banner-content h1{
  font-size: 85px;
  font-weight: bold;
}
.banner-content p{
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
.banner-content-btn{
  display: flex;
  gap: 20px;
}
.btn-logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
#banner .banner-image img{ 
  max-width: 585px;
  vertical-align: middle;
}

#about{
  margin-top: 130px;
}

#about .about-container{
  width: 84%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 131px 156px;
  background-color: #FFF8F3;
  text-align: center;
}

#about .about-container h2{
  font-size: 36px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 20px;
}
#about .about-info{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

#my-work{
  margin-top: 130px;
}

#my-work .my-work-container{
  width: 84%;
  max-width: 1140px;
  margin: 0 auto;
}

#my-work .my-work-heading{
  text-align: center;
  margin: 0px 150px 0px 150px;
}

#my-work  .my-work-language{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#my-work .my-work-card{
  width: 267px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1) ;
}
#my-work .my-work-card p{
  margin-top: 20px;
}

#resume{
  margin-top: 130px;
}

#resume .resume-container{
  /* background-color: aquamarine; */
  width: 84%;
  max-width: 1140px;
  margin: 0 auto;
}

#resume .resume-heading{
  text-align: center;
  /* margin: 0px 150px 0px 150px; */
}

#resume .resume-card{
  /* background-color: #FFF8F3; */
  display: flex;
  justify-content: space-between;
  padding-top: 113px;
}
#resume .resume-education{
  width: 511px;
}

#resume .resume-experience{
  width: 511px;
}

#resume .resume-all-card{
  margin-top: 20px;
}
#resume .resume-all-card p{
  margin: 10px 0px 20px 0px;
}

#resume .resume-btn{
  text-align: center;
  margin-top: 50px;
}

#footer{
  margin-top: 105px;
  margin-left: 136px;
  margin-right: 136px;
}

#footer .footer-container{
  background-color:#FFF8F3;
  display: flex;
  justify-content: space-around;
  padding-top: 135px;
  padding-bottom: 122px;
}
#footer .footer-icon{
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

#footer .footer-message input{
  display: block;
  width: 120%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

#footer .footer-message textarea{
  /* display: block; */
  width: 120%;
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

#footer .footer-message button{
  margin-top: 20px;
  display: block;
}

#footer h2{
  margin-bottom: 10px;
}